.oneskill {
  text-align: center;

  padding: 10px 20px;
  color: white;
}

.oneskill > img {
  width: 50%;
  height: 50px;
}

.skill__bar {
  width: 0%;
  height: 20px;
  background-color: rgb(0, 0, 0);
  margin: 20px 0;
  text-align: center;
  border: 1px solid;
}
