.skills {
  height: 100vh;
  background-color: #17181c;
  padding-top: 100px;
}

.skills > h1 {
  color: white;
  font-size: 3.5rem;
}

.skills__skill {
  display: grid;
  grid-template-columns: auto auto;
  gap: 30px;
  padding: 0 50px;
  margin: 50px auto;
  width: 85%;
}
