.aboutme {
  width: 100%;
}

.aboutme__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 150px;
  width: 80%;
  margin: auto;
}

.aboutme__header > h1 {
  color: white;
  flex: 0.3;
  font-size: 3rem;
  font-weight: 600;
  text-align: left;
  text-align: center;
}

.aboutme__content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
}
.aboutme__content__title {
  flex: 0.5;
  color: white;
  font-size: 2.5rem;
  font-weight: 600;
}

.aboutme__content > div {
  width: 55%;
  line-height: 40px;
  letter-spacing: 2px;
  font-weight: 400;
  max-height: 450px;
  overflow-y: scroll;
  padding:0 30px
}


.aboutme__content > div > p:nth-child(1) {
  color: white;
  margin: 10px 0;
}
.aboutme__content > img {
  width: 35%;
  height: 300px;
  object-fit: contain;
  margin: 10px 30px;
  flex: 0.4;
  border-radius: 50px;
}

.aboutme__hello {
  animation: bounce 1s ease infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(0);
  }
}
.aboutme__content > div::-webkit-scrollbar {
  width: 1em;
}

.aboutme__content > div::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 

.aboutme__content > div::-webkit-scrollbar-thumb{

  background-color: white;
  border-radius: 10px;


}
